.btns {
  flex: 1 1 auto;
  margin: 3px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
 }


.btns:hover {
  background-position: right center;
  color: #fff;
}

.btn-1 {
  background-image: linear-gradient(to right, #ed4de0 0%, #4d4ded 51%, #ed4d6f 100%);
}

.btn-2 {
  background-image: linear-gradient(to right, #ef2b2b  0%, #2b47ef  51%, #e3ef2b 100%);
}

.btn-3 {
  background-image: linear-gradient(to right, #c69282  0%, #bdbebf  51%, #e6ce79 100%);
}

.btn-4 {
  background-image: linear-gradient(to right, #d667e4 0%, #203e98 49%, #ff8300 100%);
}

.btn-5 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
}